@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #fff;
}

.top-banner {
  background: url(/srcs/bgi.jpg);
  background-size: cover;
}

.fimg img{
  width:200px;
}

.content {
  background: #fff;
}
.content .nav-tabs .nav-item a.active{
  color: #ff3333;
  font-weight: bold;
}
.content .nav-tabs a{
  color: gray;
  font-weight: bold;
}
.content .nav-tabs .nav-item a:hover{
  color: #ff3333;
  font-weight: bold;
}
.tab-content {
  font-size: .9em;
}
.tab-content a{
  font-weight: bold;
}

/* SideBar */
#sidebar {
  position: -webkit-sticky;
  height: 100%;
  z-index: 0;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 10px;
  font-weight: bolder;
}
#sidebar .sidebar-header h3{
  color:#ff5c33;
  border-bottom:1px solid;
}
#sidebar ul.components {
  padding-bottom: 10px;
}

#sidebar ul li a {
  padding: 10px;
  padding-left: 10px;
  font-size: .9em;
  display: block;
  color: #000;
}
#sidebar ul li a:hover {
  color:#fff;
  background-color: #ff5c33;
}

#sidebar ul li ul li a{
  font-size:0.8em;
  padding-left:20px;
}

#sidebar ul li ul li a:hover{
  color: #ff5c33;
  background-color: transparent;
  font-size:0.8em;
  padding-left:30px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #ff5c33;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30%; /* Place the button at the bottom of the page */
  right: 10%; /* Place the button 30px from the right */
  z-index: 1001; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: gray; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  background-color: #ff5c33; /* Add a dark-grey background on hover */
}
