body{
  background:#000;
  color:#fff;
  }

.post-list li{color:#ff3c55;}
.post-list li .post-meta {color:#fff;}
.post-list a {color:#fff;}
.post-list a:hover {color:#ff5c33; text-decoration:none;}
.post-link {display:block;}

article {padding:20px;color:#fff;}
article .post-title {color:#fff;}
time {font-weight:bold;color:#fff;}

