.post-list li{color:#ff3c55;}
.post-list li .post-meta {color:#000;font-size:0.9rem;}
.post-list a {color:#000;}
.post-list a:hover {color:#ff5c33; text-decoration:none;}
.post-link {display:block;padding-bottom:20px;}

article {padding:20px;color:#000;}
article .post-title {color:#000;}
time {font-weight:bold;color:#000;}

.page-heading{
  color:#ff5c33;
  padding:20px;
  text-align:center;
  font-weight:bold;
  font-size:4rem;
  text-transform:uppercase;
  display:block;
  border-bottom: 3px solid #ff5c33;
  }
@media (min-width: 544px) {
  .page-heading {font-size:4rem;}
}
@media (min-width: 768px) {
  .page-heading {font-size:6rem;}
}
@media (min-width: 992px) {
  .page-heading {font-size:8rem;}
}
@media (min-width: 1200px) {
  .page-heading {font-size:10rem;}
}

.post-content li{color:#000;}
.post-content a {color:silver;font-style: italic;font-size:0.9rem;}
.post-content a:hover {color:#ff5c33; text-decoration:none;}
.post-content {display:block;padding-bottom:20px;}

.post-header time{font-weight:bold;color:silver;font-size:0.8rem;}
