body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height:100vh;
  height: 100%;
  z-index: -10;
  background: url(/srcs/bgi_k.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  height: 100%;
  min-height:100vh;
  }

.centered-and-cropped { object-fit: cover }

@keyframes display {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-400px);
    opacity: 0;
  }
  100% {
    transform: translateX(-400px);
    opacity: 0;
  }
}

.pic-ctn {
  padding-top:100px;
  width: 100%;
  height: 600px;
}

.pic-ctn .card {
  position: absolute;
  top: 100px;
  left: calc(30% - 100px);
  opacity: 0;
  animation: display 21s infinite;
  border:none;
}

.card:nth-child(2) {
  animation-delay: 3s;
}
.card:nth-child(3) {
  animation-delay: 6s;
}
.card:nth-child(4) {
  animation-delay: 9s;
}
.card:nth-child(5) {
  animation-delay: 12s;
}
.card:nth-child(6) {
  animation-delay: 15s;
}
.card:nth-child(7) {
  animation-delay: 18s;
}
