.bottom_text{
  padding-top: 0px;
  padding-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: -.06em;
  font-weight: 1000;
  text-align: center;
  color: #ffa31a;
  text-shadow: 2px 2px 0px #ff5c33, 5px 4px 0px rgba(0,0,0,0.15);
}
@media (min-width: 544px) {  
  .title h1 {font-size:4rem;}
  .bottom_text {font-size:4rem;}
}
@media (min-width: 768px) {  
  .title h1 {font-size:5rem;}
  .bottom_text {font-size:5rem;}
}
@media (min-width: 992px) {  
  .title h1 {font-size:7rem;}
  .bottom_text {font-size:7rem;}
}
@media (min-width: 1200px) {  
  .title h1 {font-size:8rem;}
  .bottom_text {font-size:8rem;}
}

.centered-and-cropped { object-fit: cover }

.card{
  transition: .3s all;
  -webkit-filter: blur(0px) brightness(1) grayscale(0%);
  }
.card:hover img{
  -webkit-filter: blur(1px) brightness(.5) grayscale(100%);
}
.card {color:transparent;}
.card a{color:transparent;}
.card:hover h4{color:#ff5c33;}
.card:hover{color:white;}
.card:hover a{color:white;text-decoration:none;font-size:0.8rem;}
.card:hover a:hover{color:#ff5c33;}

.aoty img{
  transition: .3s all;
  -webkit-filter: blur(1px) brightness(.5) grayscale(100%);
  }
.aoty img:hover{
  -webkit-filter: blur(0px) brightness(1) grayscale(0%);
}
.aoty .overlay {
  color:#fff;
  font-size:1.5em;
  font-weight:bolder;
  position: absolute;
  top: 10%;
  left: 10%;
}

.performers {
  color: #000;
  border:none;
  font-size: 14px;
  text-transform: capitalize;
}

.performers:hover{
  color: #ff5c33;
  text-decoration: none;
}

