body {
  background: rgba(242, 242, 242, 0.3);
  background-repeat: repeat;
  background-attachment: fixed !important;
  background-size: 100% !important;
  background-position: center top !important;
}

.title{
  background-image: url(/srcs/bgbrq.jpg);
  background-size: 100%;
  background-attachment: fixed;
}
.title h1{
  padding-top: 100px;
  padding-bottom: 20px;
  letter-spacing: -.06em;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: -.06em;
  font-weight: 1000;
  color: #fff;
}
.bottom_text{
  padding-top: 0px;
  padding-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: -.06em;
  font-weight: 1000;
  text-align: center;
  color: #FFA31A;
}
@media (min-width: 544px) {  
  .title h1 {font-size:4rem;}
  .bottom_text {font-size:4rem;}
}
@media (min-width: 768px) {  
  .title h1 {font-size:5rem;}
  .bottom_text {font-size:5rem;}
}
@media (min-width: 992px) {  
  .title h1 {font-size:7rem;}
  .bottom_text {font-size:7rem;}
}
@media (min-width: 1200px) {  
  .title h1 {font-size:8rem;}
  .bottom_text {font-size:8rem;}
}

.card-title{
  color: white;
  background: rgba(0,0,0,0.3);
  margin: 8rem auto;
  font-size: 14px;
}
.card-title a {
  color: white;
  text-decoration: none;
}
.card-title a:hover {
  color: black;
  background-color: #ccff33;
  text-decoration: none;
}
.centered-and-cropped { object-fit: cover }

.aoty img{
  transition: .3s all;
  -webkit-filter: blur(1px) brightness(.5) grayscale(100%);
  }
.aoty img:hover{
  -webkit-filter: blur(0px) brightness(1) grayscale(0%);
}
.aoty .overlay {
  color:#fff;
  font-size:1.5em;
  font-weight:bolder;
  position: absolute;
  top: 10%;
  left: 10%;
}

.performers {
  color: #000;
  border: none;
  font-size: 14px;
  text-transform: capitalize;
}

.performers:hover{
  background: #ccff33;
  color: #000;
  text-decoration: none;
}

