@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.card a{color:#000; text-decoration:underline;}
.card a:hover,a:focus{color:#ff5c33;text-decoration:none;transition: all 0.1s;}

.table a{color:#000; font-size:0.88rem;}
.table a:hover{color:#ff5c33;}
.table ul{list-style-type:circle;}

.navbar{
  border-top:3px solid #ff5c33;
  border-bottom:1px solid #ddd;
  }
.navbar .homeicon {
  font-size:14px;
  color: #fff;
	background-color: #ff5c33;
  border: 2px solid #ff5c33;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-radius: 0px;
  box-sizing: border-box;
	}
.navbar .homeicon:hover {
  color: #ff5c33;
	background-color: #fff;
  border: 2px solid #ff5c33;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
	}

.navbar {height:50px;min-height: 20px;z-index:1000;}
.navbar .navbar-nav .nav-link{color:#fff;font-size:0.8rem;}
.navbar .navbar-nav .home a{color: #000;}
.navbar .navbar-nav .home a:hover{color: #ff5c33;}
.navbar .navbar-nav .astronomy a{color: #000}
.navbar .navbar-nav .astronomy a:hover, a:active, a:focus{color: #ff5c33;outline:none;}
.navbar .navbar-nav .astronomy .dropdown-menu {background-color: #fff;border:none!important;}
.navbar .navbar-nav .astronomy .dropdown-menu a {color: #000;font-size:0.8rem}
.navbar .navbar-nav .astronomy .dropdown-menu a:hover {color:#ff5c33;background-color:#fff;}
.navbar .navbar-nav .music a{color: #000;}
.navbar .navbar-nav .music a:hover, a:active, a:focus{color: #ff5c33;outline:none;}
.navbar .navbar-nav .music .dropdown-menu {background-color: #fff;border:none!important;}
.navbar .navbar-nav .music .dropdown-menu a {color: #000;font-size:0.8rem;}
.navbar .navbar-nav .music .dropdown-menu a:hover {color: #ff5c33;background-color: #fff;}
.navbar .navbar-nav .movie a:hover{color: #ff5c33;}
.navbar .navbar-nav .golb a:hover{color: #ff5c33;}

.navbar input[type=text]{
  color:#000;
  outline: none;
  border:none;
	background-color: transparent;
}
.navbar input[type=text]::placeholder{
  font-size:0.88rem;
  color:#9aa6b1;
}

@media all and (min-width: 576px) {
.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:10;  }
.navbar .dropdown-menu.fade-down{ top:10%; transform: rotateX(-25deg); transform-origin: 0% 0%; }
.navbar .dropdown-menu.fade-up{ top:10%;  }
.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:120%; transform: rotateX(0deg); }
}

.offcanvas-header{ display:none; }

@media all and  (max-width: 576px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

/* footer */
footer {
	clear: both;
	padding: 0 5px;
  font-size: 0.8rem;
	background-size: 400% 400%;
	animation: gradient 50s ease infinite;
  z-index:100;
  border-top:1px solid #ddd;
}
footer .container a:link {text-decoration:none;background-color:none;color:#000}
footer .container a:visited {text-decoration:none;background-color:none;color:#000}
footer .container a:hover {text-decoration:underline;background-color:none;color:#ff5c33}
footer .container a:active {text-decoration:none;background-color:none;color:#000}
/*
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/
