@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #F5F5F5;
}
.header {
  background: url(srcs/bgi.jpg);
  background-size: cover;
}
.fimg img{
  width:200px;
}
.content {
  background: #F5F5F5;
}
.content .nav-tabs .nav-item a.active{
  color: #ff3333;
  font-weight: bold;
}
.content .nav-tabs a{
  color: gray;
  font-weight: bold;
}
.content .nav-tabs .nav-item a:hover{
  color: #ff3333;
  font-weight: bold;
}
.tab-content {
  font-size: 13px;
}
.tab-content a{
  font-weight: bold;
}
