body {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(srcs/bgbrq.jpg);
  background-repeat: repeat;
  background-attachment: fixed !important;
  background-size: 100% !important;
  background-position: center top !important;
  color: #fff;
}

.card-title{
  color: white;
  background: rgba(0,0,0,0.3);
  margin: 8rem auto;
  font-size: 14px;
}
.card-title a {
  color: white;
  text-decoration: none;
}
.card-title a:hover {
  color: black;
  background-color: #ccff33;
  text-decoration: none;
}
.centered-and-cropped { object-fit: cover }

.performers {
  color: #000;
  border: none;
  font-size: 14px;
  text-transform: capitalize;
}

.performers:hover{
  background: #ccff33;
  color: #000;
  text-decoration: none;
}

.title{
  padding-top: 300px;
  padding-bottom: 400px;
  letter-spacing: -.06em;
}

.title h1{
  border-top: 1px solid;
  border-left: none;
  border-right: none;
  border-bottom: 4px  double;
  border-color: rgba(242, 242, 242,1);
  /* background: rgba(242, 242, 242,0.5); */
  font-family: serif;
  font-size: 8em;
  letter-spacing: -.06em;
  font-weight: 1000;
  text-align: center;
  color: #fff;
}

.bottom_text{
  padding-top: 0px;
  padding-bottom: 100px;
  font-family: serif;
  font-size: 8em;
  letter-spacing: -.06em;
  font-weight: 1000;
  text-align: center;
  color: #FFA31A;
}


:root {
	--animation-delay: 0;
	--duration: 800ms;
	--iterations: 1;
}
/*
.reveal,
.reveal::after {
	        animation-delay: 0;
	        animation-delay: var(--animation-delay, 2s);
	        animation-iteration-count: 1;
	        animation-iteration-count: var(--iterations, 1);
	        animation-duration: 800ms;
	        animation-duration: var(--duration, 800ms);
	        animation-fill-mode: both;
	        animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.1);
}

.reveal {
	position: relative;
	font-size: 6vw;
	animation-name: text;
	color: #FFF;
	white-space: nowrap;
	cursor: default;
	text-transform: uppercase;

}

.reveal::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #FFA31A;
	        transform: scaleX(0);
	        transform-origin: 0 50%;
		pointer-events: none;
	        animation-name: revealer;
	}



@keyframes text {
	from {
	        clip-path: inset(0 100% 0 0);
	}
	to {
	        clip-path: inset(0 0 0 0);
	}
}




@keyframes revealer {

	0%, 50% {
	        transform-origin: 0 50%;
	}

	60%, 100% {
	        transform-origin: 100% 50%;
	}


	60% {
	        transform: scaleX(1);
	}

	100% {
	        transform: scaleX(0);
	}
} */
