@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	background: url(srcs/bgi.jpg) no-repeat;
  background-size:100% 100%;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background-attachment:fixed;
  background-repeat:no-repeat;
}

/* STRUCTURE */

footer {
	clear: both;
	padding: 0 5px;
}
footer a:link {text-decoration:underline;background-color:none;color:#000000}
footer a:visited {text-decoration:none;background-color:#FFFFFF;color:#000000}
footer a:hover {text-decoration:none;background-color:#000000;color:#FFFFFF}
footer a:active {text-decoration:none;background-color:#000000;color:#FFFFFF}
