<!-- Footer -->
<footer class="page-footer font-small unique-color-dark bg-light">

  <div class="container">
    <div class="row py-4 d-flex align-items-center">
			<h6 class="mb-0 text-light">All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy.</h6>
			<h6 >---------------------------------------</h6>
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-1">
    <div class="row mt-3">
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase text-dark font-weight-bold">INFOS</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<div>
          <a target="_blank" href="https://www.arxiv.org">arXiv</a>.
					<a target="_blank" href="http://adsabs.harvard.edu/abstract_service.html">ads</a>
        </div>
				<div>
          <a target="_blank" href="https://journals.aps.org/prl">PRL</a>.
					<a target="_blank" href="http://iopscience.iop.org/journal/1538-3881">APJ</a>.
					<a target="_blank" href="https://journals.aps.org/prd/">PRD</a>
        </div>
				<div>
          <a target="_blank" href="http://mendeley.com">mendeley</a>.
          <a target="_blank" href="https://imslp.org">IMSLP</a> 
        </div>
				<div>
          <a target="_blank" href="https://gcc.gnu.org/onlinedocs/gfortran/index.html">GNU FORTRAN</a>.
          <a target="_blank" href="http://apps.nrbook.com/fortran/index.html">NR FORTRAN</a>
				</div>
				<div>
          <a target="_blank" href="http://wwwmpa.mpa-garching.mpg.de/gadget/">GADGET-2</a>.
          <a target="_blank" href="https://fits.gsfc.nasa.gov/fits_home.html">FITS</a>
				</div>
				<div>
          <a target="_blank" href="https://www.astromatic.net/software/sextractor">SExtractor</a>
				</div>
				<div>
          <a target="_blank" href="http://spectralsynthesis.org/fado-downloads.html">FADO</a> .
          <a target="_blank" href="http://www.tng-project.org">TNG</a>
				</div>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase text-dark font-weight-bold">TOOLS</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<p>
					<a target="_blank" href="http://colorbrewer2.org">ColorPick</a>.
					<a target="_blank" href="http://www2.iap.fr/users/pitrou/cmbquick.htm">CMBquick</a>.
					<a target="_blank" href="http://camb.info">CAMB</a>.
					<a target="_blank" href="https://chrisnorth.github.io/planckapps/Simulator">CAMB Simulator</a>.
					<a target="_blank" href="http://hmf.icrar.org/">HMFcalc</a>
				</p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase text-dark font-weight-bold">LINKS</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

				<p>
				<div>
					<a target="_blank" href="http://www.bugman123.com/FluidMotion/index.html">Fluid Motion Simulation and Artwork</a>.
					<a target="_blank" href="http://playsongnotes.com">songnotes</a>
				</div>
				<div>
					<a target="_blank" href="https://vim-adventures.com">vim adventures</a> 
				</div>
				<div>
					<a target="_blank" href="http://www.stumbleupon.com/su/30rQzi/1-7+xFa:iQdT0b@K/physicsdatabase.com/book-list-by-title">List of free science books</a>
				</div>
				<div>
					<a target="_blank" href="http://einsteinpapers.press.princeton.edu/">Digital Einstein Papers</a>
				</div>
				<div>
					<a target="_blank" href="http://www.feynmanlectures.info/flp.html">Feynman Lectures on Physics</a>
				</div>
				<div>
					<a target="_blank" href="https://www.shutterstock.com">royalty-free sources</a>
				</div>
				<div>
					<a target="_blank" href="https://www.livecoding.tv">live coding</a> .
					<a target="_blank" href="https://asoftmurmur.com/">asoftmurmur</a>
				</div>
				<div>
					<a target="_blank" href="https://www.10minutemail.com">10mins-mail</a>.
					<a target="_blank" href="http://campuspress.yale.edu/vdbosch/">Van Den Bosch</a>.
					<a target="_blank" href="https://www.astro.rug.nl/~voronoi/DTFE/dtfe.html">DTFE</a>
				</div>
				<div>
					<a target="_blank" href="https://software-carpentry.org">software carpentry</a></p>
				</div>
      </div>

      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase text-dark font-weight-bold">Education</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<div class=" text-light">
				<p><i class="fas fa-home mr-3"></i> PhD Candidate</p>
				<p><i class="fas fa-home mr-3"></i><a target="_blanck" href="http://astro.sjtu.edu.cn"> Department of Astronomy</a></p>
				<p><i class="fas fa-home mr-3"></i><a target="_blanck" href="https://www.sjtu.edu.cn">  Shanghai Jiao Tong University</a></p>
				<p><i class="fas fa-home mr-3"></i> Shanghai, China</p>
				</div>
        <!-- <p><i class="fas fa-envelope mr-3"></i> jundec@outlook.com</p> -->

      </div>
    </div>

		<p>
			<a target="" href="/index.html">HOME</a> .
			<a target="" href="/astro/rsd.html">RSD</a> .
			<a target="" href="/music/baroque.html">Baroque</a> .
			<a target="" href="/music/classical.html">Classical</a> .
			<a target="" href="/music/romantic.html">Romantic</a> .
			<a target="" href="/music/popular.html">Popular</a> .
			<a target="" href="/music/aoty.html">AOTY</a> .
			<a target="" href="/movie.html">Movie</a> .
		</p>

		<br>

  </div>
</footer>

<!-- Copyright -->
<div class="footer-copyright text-center py-3 bg-dark text-light">
	<p class="text-center text-md-center" >© 2020 Copyright:
	<a href="https://jundec.github.io/" style="color:white"><strong>Junde Chen</strong></a>
	</p>
</div>
<!-- Copyright -->
