<!-- Footer -->
<footer class="mt-auto page-footer font-small unique-color-light bg-white">

  <div class="container p-4">
  <div class="container text-uppercase text-center text-md-left mt-0 mb-1">
			<a target="" href="/index.html">HOME</a> .
			<a target="" href="/astro/rsd.html">RSD</a> .
			<a target="" href="/music/baroque.html">Baroque</a> .
			<a target="" href="/music/classical.html">Classical</a> .
			<a target="" href="/music/romantic.html">Romantic</a> .
			<a target="" href="/music/popular.html">Popular</a> .
			<a target="" href="/music/aoty.html">AOTY</a> .
			<a target="" href="/movie.html">Movie</a> .
			<a target="" href="/blog.html">golb</a> .
		</div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-1">
    <div class="row mt-1">

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">References</h6>
				<div>
          <a target="_blank" href="https://www.arxiv.org">arXiv</a>.
					<a target="_blank" href="http://adsabs.harvard.edu/abstract_service.html">ads</a>
        </div>
				<div>
          <a target="_blank" href="https://journals.aps.org/prl">PRL</a>.
					<a target="_blank" href="https://journals.aps.org/prd/">PRD</a>
        </div>
				<div>
					<a target="_blank" href="http://iopscience.iop.org/journal/1538-3881">APJ</a>.
					<a target="_blank" href="https://academic.oup.com/mnras">MNRAS</a>.
					<a target="_blank" href="https://www.aanda.org">A&A</a>
        </div>
				<div>
          <a target="_blank" href="http://mendeley.com">Mendeley</a>.
          <a target="_blank" href="https://www.zotero.org">zotero</a>
        </div>
				<div>
          <a target="_blank" href="https://gcc.gnu.org/onlinedocs/gfortran/index.html">GNU FORTRAN</a>
        </div>
				<div>
          <a target="_blank" href="http://apps.nrbook.com/fortran/index.html">NR FORTRAN</a>
				</div>
				<div>
					<a target="_blank" href="http://www.sciencebooksonline.info">Science Books Online</a>
				</div>
				<div>
					<a target="_blank" href="http://einsteinpapers.press.princeton.edu/">Digital Einstein Papers</a>
				</div>
				<div>
					<a target="_blank" href="https://www.feynmanlectures.caltech.edu">Feynman Lectures</a>
				</div>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">TOOLS</h6>
				<div>
					<a target="_blank" href="https://www.astropy.org">Astropy</a>
				</div>
				<div>
					<a target="_blank" href="http://camb.info">CAMB</a>.
					<a target="_blank" href="https://cosmologist.info/cosmomc/">CosmoMC</a>
				</div>
				<div>
					<a target="_blank" href="http://www2.iap.fr/users/pitrou/cmbquick.htm">CMBquick</a>.
					<a target="_blank" href="https://cobaya.readthedocs.io/en/latest/">Cobaya</a>
				</div>
				<div>
					<a target="_blank" href="https://chrisnorth.github.io/planckapps/Simulator">CAMB Simulator</a>
				</div>
				<div>
          <a target="_blank" href="http://wwwmpa.mpa-garching.mpg.de/gadget/">GADGET-2</a>.
          <a target="_blank" href="http://www.tng-project.org">TNG</a>
				</div>
				<div>
          <a target="_blank" href="https://fits.gsfc.nasa.gov/fits_home.html">FITS</a>.
          <a target="_blank" href="https://www.astromatic.net/software/sextractor">SExtractor</a>
				</div>
				<div>
          <a target="_blank" href="http://spectralsynthesis.org/fado-downloads.html">FADO</a> .
					<a target="_blank" href="http://hmf.icrar.org/">HMFcalc</a>
				</div>
				<div>
					<a target="_blank" href="https://www.astro.rug.nl/~voronoi/DTFE/dtfe.html">DTFE</a>
				</div>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">LINKS</h6>
				<div>
					<a target="_blank" href="http://colorbrewer2.org">ColorPick</a>.
          <a target="_blank" href="https://imslp.org">IMSLP</a>
				</div>
				<div>
					<a target="_blank" href="http://www.bugman123.com/FluidMotion/index.html">Fluid Motion Simulation and Artwork</a>
				</div>
				<div>
					<a target="_blank" href="http://playsongnotes.com">songnotes</a>.
					<a target="_blank" href="https://vim-adventures.com">vim adventures</a> 
				</div>
				<div>
					<a target="_blank" href="https://www.livecoding.tv">live coding</a> .
					<a target="_blank" href="https://asoftmurmur.com/">asoftmurmur</a>
				</div>
				<div>
					<a target="_blank" href="https://www.10minutemail.com">10mins-mail</a>.
					<a target="_blank" href="http://campuspress.yale.edu/vdbosch/">Van Den Bosch</a>
				</div>
				<div>
					<a target="_blank" href="https://www.shutterstock.com">royalty-free sources</a>
				</div>
				<div>
					<a target="_blank" href="https://software-carpentry.org">software carpentry</a></p>
				</div>
      </div>

      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">

        <!-- Content -->
				<p><i class="fa fa-graduation-cap mr-1"></i> PhD Candidate</p>
				<p><i class="fa fa-globe mr-1"></i><a target="_blanck" href="http://astro.sjtu.edu.cn"> Department of Astronomy</a></p>
				<p><i class="fa fa-university mr-1"></i><a target="_blanck" href="https://www.sjtu.edu.cn">  Shanghai Jiao Tong University</a></p>
				<p><i class="fa fa-compass mr-1"></i> Shanghai, China</p>
    <span class="pr-0">
    <a class="mr-1" target="_blank" href="https://twitter.com/13Gyr"><i class="fa fa-twitter-square" style="font-size:22px;"></i></a>
    <a class="mr-1" target="_blank" href="https://www.facebook.com/profile.php?id=100003578597034"><i class="fa fa-facebook-square" style="font-size:22px;"></i></a>
    <a class="mr-1" target="_blank" href="http://youtube.com"><i class="fa fa-youtube-square" style="font-size:22px;"></i></a>
    <a class="mr-1" target="_blank" href="http://steamcommunity.com/profiles/76561198263933130"><i class="fa fa-steam-square" style="font-size:22px;"></i></a>
    <a class="mr-1" target="_blank" href="http://last.fm/user/foyoko"><i class="fa fa-lastfm-square" style="font-size:22px;"></i></a>
    <a class="mr-1" target="_blank" href="http://music.163.com/#/user/home?id=6674842"><i class="fa fa-caret-square-o-right" style="font-size:22px;"></i></a>
    <a class="mr-1" target="_blank" href="https://www.douban.com/people/57598693/"><i class="fa fa-pencil-square" style="font-size:22px;"></i></a>
    <a class="mr-1" target="_blank" href="http://github.com/jundec"><i class="fa fa-github-square" style="font-size:22px;"></i></a>
    </span>
      </div>
    </div>

    <hr class="accent-2 mb-0 mt-0 d-inline-block mx-auto" style="width:100%;height:0.5px;border-width:0;background-color:#708090;">
		<div class="mb-2">
    © 2021 Copyright: <a href="https://jundec.github.io/" ><strong>Junde Chen</strong></a>
		</div><br/>
  </div>
</footer>
