<nav class="navbar text-uppercase sticky-top navbar-expand-sm navbar-light font-small bg-white">
<div class="container">
  <a class="navbar-brand ml-2 mr-2 homeicon" href="/index.html">
     &nbsp<i class="fa fa-eercast fa-2x"></i>&nbsp
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
  <span class="fa fa-navicon" style="color:#000;"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarNavDropdown">
      <div class="offcanvas-header mt-3">
      <button class="navbar-toggler btn-close float-right" type="button">
        <span class="fa fa-close" style="color:#000;"></span></button>
      <h5 class="py-2" style="color:#ff5c33;">!@</h5>
      </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active home"><a class="nav-link" href="/index.html">home<span class="sr-only">(current)</span></a></li>
      <li class="nav-item dropdown astronomy">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Astronomy</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/astro/rsd.html">RSD intro.</a></li>
          <li><hr class="accent-2 mt-2 mb-2" style="width:100%;height:0.5px;border-width:0;background-color:#708090;"></li>
          <li><a class="dropdown-item" href="/astro/docs/index.html">Review</a></li>
        </ul>
      </li>

      <li class="nav-item active movie"><a class="nav-link" href="/quant/intro.html">Quant</a></li>

      <li class="nav-item dropdown music">
        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Interests</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/music/baroque.html">Baroque Music</a></li>
          <li><a class="dropdown-item" href="/movie.html">Favorite Films</a></li>
          <li><hr class="accent-2 mt-2 mb-2" style="width:100%;height:0.5px;border-width:0;background-color:#708090;"></li>
          <li><a class="dropdown-item" href="/music/aoty.html">Personal AOTY</a></li>
        </ul>
      </li>
      <li class="nav-item active golb"><a class="nav-link" href="/blog.html">GOLB</a></li>
    </ul>

    <!-- searh -->
    <div class="d-none d-md-block">
    <form method="get" action="https://www.google.com/search" target="_blank" autocomplete="off">
      <i class="fa fa-search" style="color:#708090;"></i>
      <input type="text" name="q" size="16" maxlength="255" placeholder="Google Search" value=""/>
    </form>
    </div>
  </div>
</div>
</nav>

<script>
$("[data-trigger]").on("click", function(){
    var trigger_id =  $(this).attr('data-trigger');
    $(trigger_id).toggleClass("show");
    $('body').toggleClass("offcanvas-active");
});

// close button
$(".btn-close").click(function(e){
    $(".navbar-collapse").removeClass("show");
    $("body").removeClass("offcanvas-active");
});
</script>
