<header class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
<div class="container">
  <a class="navbar-brand homeicon" href="index.html">&nbsp𐒨𐒧𐒠&nbsp</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link home" href="/index.html">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown astronomy">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Astronomy
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/astro/rsd.html">RSD</a>
          <a class="dropdown-item" href="#">FMR</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Reviews</a>
        </div>
      </li>
      <li class="nav-item dropdown music">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Music
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/music/baroque.html">Baroque</a>
          <a class="dropdown-item" href="#">Classical</a>
          <a class="dropdown-item" href="#">Romantic</a>
          <a class="dropdown-item" href="#">Popular</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/music/aoty.html">AOTY</a>
        </div>
      </li>
      <li class="nav-item active ">
        <a class="nav-link movie" href="/movie.html">Moive<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <!-- searh -->
    <form method="get" action="http://www.google.com/search" target="_blank">
      <input type="text" name="q" size="21" maxlength="255" value="" />
      <input type="submit" value="Search" />
    </form>
  </div>
</div>
</header>

